video::-webkit-media-controls {
  display:none !important;
}

body{
	background-color: #2c3e50;
}

#videocanvas{
	border-radius: 3%;
	height: 600px;
	width: 800px;
	position: absolute;
	top:20%;
	left:28%;
	background-color: #34495e;
}

#frame{
	border-radius: 10px;
}

#yazi{
	font-family: sans-serif;
	color: #2c2c54;
}

#url{
	background-color: #0984e3;
	border-radius: 1px;
	width: 470px;
	height: 25px;
	border-radius:3px;
	border:1px solid #0984e3;
}

#yolla{
	background-color: #227093;
	color:white;
	border:1px solid #227093;
	font-family: sans-serif;
	height: 30px;
	border-radius: 3px;
	width: 72px;
}

#sag-video{
	border:1px solid black;
}

#frame2{
	width: 800px;
	height: 150px;
}

#ortayazi{
	font-family: sans-serif;
	color:#18dcff;
	text-shadow: 0px 0px 14px rgba(24, 220, 255, 1);
}

#kontrol{
	color: #18dcff;
	background-color: #34495e;
	text-shadow: 0px 0px 14px rgba(24, 220, 255, 1);
	border-radius: 10px;
	width: 800px;
	height: 50px;
	border:0px;
	font-family: sans-serif;
	font-size: 25px;
	cursor: pointer;

}

#baslat{
	color: #18dcff;
	background-color: #34495e;
	text-shadow: 0px 0px 14px rgba(24, 220, 255, 1);
	border:0px;
	font-family: sans-serif;
	width: 100px;
	height: 30px;
	font-size: 15px;
	cursor: pointer;
	margin-right:15px;
	border-radius: 5px;
}

#durdur{
	color: #18dcff;
	background-color: #34495e;
	text-shadow: 0px 0px 14px rgba(24, 220, 255, 1);
	border:0px;
	font-family: sans-serif;
	width: 100px;
	height: 30px;
	font-size: 15px;
	cursor: pointer;
	margin-right:15px;
	border-radius: 5px;
}

#ial{
	color: #18dcff;
	background-color: #34495e;
	text-shadow: 0px 0px 14px rgba(24, 220, 255, 1);
	border:0px;
	font-family: sans-serif;
	width: 150px;
	height: 30px;
	font-size: 15px;
	cursor: pointer;
	margin-right:15px;
	border-radius: 5px;
}

#gal{
	color: #18dcff;
	background-color: #34495e;
	text-shadow: 0px 0px 14px rgba(24, 220, 255, 1);
	border:0px;
	font-family: sans-serif;
	width: 150px;
	height: 30px;
	font-size: 15px;
	cursor: pointer;
	margin-right:15px;
	border-radius: 5px;
}

#bal{
	color: #18dcff;
	background-color: #34495e;
	text-shadow: 0px 0px 14px rgba(24, 220, 255, 1);
	border:0px;
	font-family: sans-serif;
	width: 100px;
	height: 30px;
	font-size: 15px;
	cursor: pointer;
	border-radius: 5px;
	margin-right:15px;
}

#te{
	color: #18dcff;
	background-color: #34495e;
	text-shadow: 0px 0px 14px rgba(24, 220, 255, 1);
	border:0px;
	font-family: sans-serif;
	width: 100px;
	height: 30px;
	font-size: 15px;
	cursor: pointer;
	border-radius: 5px;
}

#alarm{
	color: #18dcff;
	background-color: #34495e;
	text-shadow: 0px 0px 14px rgba(24, 220, 255, 1);
	border:0px;
	font-family: sans-serif;
	width: 100px;
	height: 30px;
	font-size: 15px;
	cursor: pointer;
	border-radius: 5px;
}

#oal{
	color: #18dcff;
	background-color: #34495e;
	text-shadow: 0px 0px 14px rgba(24, 220, 255, 1);
	border:0px;
	font-family: sans-serif;
	width: 100px;
	height: 30px;
	font-size: 15px;
	cursor: pointer;
	border-radius: 5px;
}

#buttons{
	align-items: center;
}

#id{
	
	color: #18dcff;
	text-shadow: 0px 0px 14px rgba(24, 220, 255, 1);
	font-family: sans-serif;
}
